html {
    --divNumber: 3;
    --divHeight: calc(100vh/var(--divNumber));
    --oddBgc: rgb(20, 20, 180);
    --evenBgc: rgb(180, 60, 20);
    --fontSizeDiv: 20px;
}

div {
    height: var(--divHeight);
    background-color: var(--oddBgc);
}

div:nth-child(even) {
    background-color: var(--evenBgc);
}